In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [10]:
## Load the dataset

data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [11]:
## drop irrelevant columns

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [12]:
## Encoding categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data["Gender"])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [8]:
## Onehot encode 'Geography'

from sklearn.preprocessing import OneHotEncoder

onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[["Geography"]])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [13]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
## converting into Dataframe

geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [17]:
## Combine one hot encoder columns with the original data

data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [18]:
## SAVe the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [21]:
## Assigned Independent and depenedent data

x= data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in traning and testing sets
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

##Scale these features
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [22]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [23]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Implementation

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [27]:
(x_train.shape[1],)

(12,)

In [28]:
## Build our ANN Model

model = Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),  ## HL1 connected with input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid') ##output
]
    
)

WARNING:tensorflow:From c:\My Files\Deep Learning\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [29]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [34]:
## compile the model

model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [36]:
## Set up the Tensorboard

import datetime
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit"+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

## Set up Early stopping

In [39]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [40]:
## Train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3364 - accuracy: 0.8629 - val_loss: 0.3475 - val_accuracy: 0.8615
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3339 - accuracy: 0.8625 - val_loss: 0.3455 - val_accuracy: 0.8575
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3316 - accuracy: 0.8658 - val_loss: 0.3447 - val_accuracy: 0.8550
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3302 - accuracy: 0.8660 - val_loss: 0.3485 - val_accuracy: 0.8560
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3274 - accuracy: 0.8648 - val_loss: 0.3582 - val_accuracy: 0.8620
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3289 - accuracy: 0.8659 - val_loss: 0.3528 - val_accuracy: 0.8625
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3239 - accuracy: 0.8666 - val_loss: 0.3486 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3245 - accuracy: 0.8687 - val_loss: 0.3477 - val_accuracy: 0.8625
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3242 - accuracy: 0.8675 - val_loss: 0.3415 - val_accuracy: 0.8635
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3202 - accuracy: 0.8690 - val_loss: 0.3439 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3173 - accuracy: 0.8700 - val_loss: 0.3460 - val_accuracy: 0.8585
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3141 - accuracy: 0.8734 - val_loss: 0.3534 - val_accuracy: 0.8600
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3137 - accuracy: 0.8725 - val_loss: 0.3586 - val_accuracy: 0.8610
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3129 - accuracy: 0.8729 - val_loss: 0.3575 - val_accuracy: 0.8610
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3108 - accuracy: 0.8726 - val_loss: 0.3635 - val_accuracy: 0.8580
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3080 - accuracy: 0.8733 - val_loss: 0.3469 - val_accuracy: 0.8570
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3074 - accuracy: 0.8733 - val_loss: 0.3594 - val_accuracy: 0.8590
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3059 - accuracy: 0.8720 - val_loss: 0.3569 - val_accuracy: 0.8575
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3034 - accuracy: 0.8758 - val_loss: 0.3672 - val_accuracy: 0.8620

In [41]:
model.save('model.h5')

c:\My Files\Deep Learning\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [46]:
## Load Tensorboard Extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [47]:
%tensorboard --logdir logs/fit20251120-214805

Reusing TensorBoard on port 6006 (pid 2856), started 1:14:57 ago. (Use '!kill 2856' to kill it.)